window#waybar {
  background-color: rgba(0, 0, 0,0.1); 
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: .2s;
  font-size: 20px;
} 

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-hyprprofileicon,
#custom-quit,
#custom-lock,
#custom-reboot,
#custom-power,
#mpd {
  padding: 0 3px;
  color: #DCD7BA; /* white */
  border: none;
  border-radius: 8px;
}

#pulseaudio#text {
  padding: 0 10px;
}

#custom-os {
  color: #7E9CD8; /* nix blue*/
}

#custom-quit,
#custom-lock,
#custom-reboot,
#custom-power,
#idle_inhibitor {
  background-color: transparent;
  color: #DCD7BA; /* white */
}

button:hover {
  background: inherit;
  border-style: none;
}

#workspaces {
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  border-color: rgba(149, 127, 184, 1);
}

#workspaces button {
  padding: 0px 6px;
  padding-top: 2px;
  background-color: transparent;
  border-radius: 20px;
  font-weight: bold;
  color: #b8b4d0; /* gray violet */
  border-style: none;
}


#workspaces button:hover {
  color: #DCD7BA; /* white */
  border-style: none;
}

#workspaces button.active,
#workspaces button.visible {
  color: #DCD7BA; /* white */
}

#workspaces button.focused {
  color: #b8b4d0; /* gray violet */
}

#workspaces button.urgent {
  color: #E46876; /* red */
}

#clock {
  color: #DCD7BA;
  padding: 0 5px;
}

